<div class="col g-5" >
  <div class="col-4">
      <h1>Editing program</h1>
  </div>

<div class="col-5">
  <form #editForm="ngForm" (ngSubmit)="editProgram()">
  <label for="name" class="form-label mx-2">Name</label>
  <input [(ngModel)]="program.name" type="text" name="name" class="form-control mx-2 mb-3"/>

  <!-- <label for="selection" class="form-label mx-2">Select item</label> -->
  <!-- <select [(ngModel)]="programItem.itemId"  name="itemId" class="form-control mx-2 mb-3"  type="text">
      <option *ngFor="let item of items" [value]="item.id">
          {{item.name}}
      </option>
  </select> -->
  <!-- <input [(ngModel)]="student.selectionId" type="text" name="selectionId" class="form-control mx-2"/> -->




  <!-- <input [(ngModel)]="student.studentStatus" type="text" name="studentStatus" class="form-control mx-2" /> -->


  <button [disabled]="!editForm.dirty"  type="submit" class="btn btn-success mx-2 my-4">Save</button>
  <button class="btn btn-secondary mx-2 my-4" routerLink="/japs">Back</button>
</form>





</div>


  </div>
