<div id="order-right" class="list-group nested-sortables">
<table class="table table-hover mr-5">
  <div class="list-group-item nested-1">
  <thead>
    <tr>

      <th scope="col">No.

      </th>
      <th scope="col">Name

      </th>
      <th scope ="col">
        Url
      </th>
      <th scope ="col">
        Desc
      </th>
      <th scope ="col">
        Exp Hours
      </th>
      <th>Change order</th>
    </tr>
  </thead>
  <tbody>



  <tr *ngFor="let item of programItems" >

      <td style="width:6%">{{item.orderNumber}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.url}}</td>
      <td>{{item.description}}</td>
      <td>{{item.expHours}}</td>

    <select [(ngModel)]="newOrderNumber">
      <option  *ngFor="let number of createRange(count)">{{number}}</option>
    </select>

    <button (click)="updateProgramItem(item, number)" class="btn btn-secondary mx-2 my-2">Save</button>
  </tr>


  </tbody>
</div>
</table>
</div>
<button routerLink="/programs/{{id}}/add-item" class="btn btn-primary mx-2 my-2">Add new program item</button>
<button class="btn btn-secondary mx-2 my-4" routerLink="/japs">Back</button>
